<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style>
            .bcolor {
                background-color: lightyellow;
            }

            .greetings {
                text-align: center;
                border-bottom: 1px solid lightgray;
                padding: 10px;
            }

            .main {
                border-bottom: 1px solid lightgray;
                padding: 21.28px;
            }

            img {
                border-radius: 5px;
            }

            .thread-name {
                font-size: 18px;
                color: black;
            }

            a {
                text-decoration: none;
            }

                p:hover {
                    font-size: 19px;
                    color: brown;
                }

            .thread-board-header-container {
                text-align: center;
                margin-bottom: 15px;
            }
        </style>
    </head>
    <body>
        <section class="greetings bcolor">
            <h1>Hello, @Model.User.DisplayName!</h1>
            <h3>Here is our weekly summary, specially for you</h3>
        </section>
        
        <section class="main bcolor">
            @foreach (var entry in Model.BoardThreadWithRepliesModels)
            {
                <a href="https://@Model.Domain/threads/@entry.ThreadId/replies?PageNumber=1&PageSize=100">
                    <div class="thread-board-header-container">
                        <img src="cid:@entry.ThreadMainPictureContentId" alt="pic-related" width="150" />
                        <p class="thread-name">/@entry.BoardName @entry.ThreadName (+@entry.NumberOfReplies)</p>
                    </div>
                </a>
            }
        </section>
    </body>
</html>